In [14]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in ./opt/anaconda3/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

AttributeError: module 'pandas' has no attribute 'compat'

In [4]:
filename = 'NationWithNAMO.csv'
data = pd.read_csv(filename)

In [5]:
data.shape

(12301, 8)

In [6]:
data.head()

,Election Year,Position,Name,Votes,Votes %,Party,AC name,AC No
0,2010,1,Rajesh Singh,42289,29.40%,Janata Dal (United),Valmiki Nagar,1
1,2010,2,Mukesh Kumar Kushwaha,27618,19.20%,Rashtriya Janata Dal,Valmiki Nagar,1
2,2010,3,Dheerendra Pratap Singh,20886,14.50%,Bahujan Samaj Party,Valmiki Nagar,1
3,2010,4,Irshad Hussain,17747,12.40%,Indian National Congress,Valmiki Nagar,1
4,2010,5,Deep Narayan Mahato,14047,9.80%,Independent,Valmiki Nagar,1

In [7]:
data.describe()

           Position          Votes         AC No
count  12301.000000   12301.000000  12301.000000
mean       7.690188    9290.666938    122.960247
std        5.114163   16210.790784     70.755933
min        1.000000      98.000000      1.000000
25%        4.000000     969.000000     61.000000
50%        7.000000    1975.000000    125.000000
75%       11.000000    7022.000000    186.000000
max       34.000000  117915.000000    243.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12301 entries, 0 to 12300
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Election Year  12301 non-null  object
 1   Position       12301 non-null  int64
 2   Name           12301 non-null  object
 3   Votes          12301 non-null  int64
 4   Votes %        12301 non-null  object
 5   Party          12301 non-null  object
 6   AC name        12301 non-null  object
 7   AC No          12301 non-null  int64
dtypes: int64(3), object(5)
memory usage: 768.9+ KB

In [50]:
data1 = data.groupby(['Election Year','Party']).sum()
data1.head()

In [53]:
data1 = data1.drop(['Position','AC No'],axis=1)

In [138]:
data1 = data1.reset_index()
data1.head()

   index Election Year                               Party  Votes
0    315          2015                National Youth Party    242
1      4      2005-Feb   Akhil Bharatiya Desh Bhakt Morcha    326
2    262          2015                  Congress (Secular)    330
3    264          2015                   Deshi Kisan Party    346
4    226          2015  All India Forward Bloc (Subhasist)    382

In [133]:
result = data1.groupby(['Election Year'])['Votes'].max()
result = result.reset_index()
result ["Party"] = ""
result

  Election Year    Votes Party
0      2005-Feb  6140223
1      2005-Oct  5525081
2          2010  6561906
3          2015  9308015

In [134]:
for i in range(len(result['Election Year'])):
    for j in range(len(data1['Election Year'])):
        if(result['Votes'][i]==data1['Votes'][j]):
            result['Party'][i] = data1['Party'][j]

/Users/shubhang04/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [135]:
result
#The solution for question (a)

  Election Year    Votes                  Party
0      2005-Feb  6140223   Rashtriya Janata Dal
1      2005-Oct  5525081   Rashtriya Janata Dal
2          2010  6561906    Janata Dal (United)
3          2015  9308015  Bharatiya Janta Party