In [1]:
import pandas as pd
import os

In [2]:
# os.getcwd()

In [3]:
filename = 'NationWithNAMO.csv'
data = pd.read_csv(filename)

In [4]:
data.shape

(12301, 8)

In [5]:
data[:10]

,Election Year,Position,Name,Votes,Votes %,Party,AC name,AC No
0,2010,1,Rajesh Singh,42289,29.40%,Janata Dal (United),Valmiki Nagar,1
1,2010,2,Mukesh Kumar Kushwaha,27618,19.20%,Rashtriya Janata Dal,Valmiki Nagar,1
2,2010,3,Dheerendra Pratap Singh,20886,14.50%,Bahujan Samaj Party,Valmiki Nagar,1
3,2010,4,Irshad Hussain,17747,12.40%,Indian National Congress,Valmiki Nagar,1
4,2010,5,Deep Narayan Mahato,14047,9.80%,Independent,Valmiki Nagar,1
5,2010,6,Manoj Kumar Singh,8358,5.80%,Janvadi Party (Socialist),Valmiki Nagar,1
6,2010,7,Saket Kumar Pathak,4428,3.10%,Independent,Valmiki Nagar,1
7,2010,8,Ramayan Chaudhary,1647,1.20%,Independent,Valmiki Nagar,1
8,2010,9,Ram Naresh Sah,1610,1.10%,Independent,Valmiki Nagar,1
9,2010,10,Shashi Bhusan Sahay,1334,0.90%,Nationalist Congress Party,Valmiki Nagar,1

In [8]:
data.describe()

           Position          Votes         AC No
count  12301.000000   12301.000000  12301.000000
mean       7.690188    9290.666938    122.960247
std        5.114163   16210.790784     70.755933
min        1.000000      98.000000      1.000000
25%        4.000000     969.000000     61.000000
50%        7.000000    1975.000000    125.000000
75%       11.000000    7022.000000    186.000000
max       34.000000  117915.000000    243.000000

In [9]:
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12301 entries, 0 to 12300
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Election Year  12301 non-null  object
 1   Position       12301 non-null  int64
 2   Name           12301 non-null  object
 3   Votes          12301 non-null  int64
 4   Votes %        12301 non-null  object
 5   Party          12301 non-null  object
 6   AC name        12301 non-null  object
 7   AC No          12301 non-null  int64
dtypes: int64(3), object(5)
memory usage: 768.9+ KB

,Election Year,Position,Name,Votes,Votes %,Party,AC name,AC No
0,2010,1,Rajesh Singh,42289,29.40%,Janata Dal (United),Valmiki Nagar,1
1,2010,2,Mukesh Kumar Kushwaha,27618,19.20%,Rashtriya Janata Dal,Valmiki Nagar,1
2,2010,3,Dheerendra Pratap Singh,20886,14.50%,Bahujan Samaj Party,Valmiki Nagar,1
3,2010,4,Irshad Hussain,17747,12.40%,Indian National Congress,Valmiki Nagar,1
4,2010,5,Deep Narayan Mahato,14047,9.80%,Independent,Valmiki Nagar,1
...,...,...,...,...,...,...,...,...
12296,2005-Feb,15,Chandeshwar Prasad Gupt,534,0.60%,Independent,Chakai,243
12297,2005-Feb,16,Tirpit Singh,498,0.60%,Independent,Chakai,243
12298,2005-Feb,17,Surendra Rajbansi,437,0.50%,Independent,Chakai,243
12299,2005-Feb,18,Nawin Kumar Paswan,415,0.50%,Independent,Chakai,243
12300,2005-Feb,19,Ajay Kumar,407,0.50%,Independent,Chakai,243

In [10]:
data1 = data.copy()

for i in range(12301):
    row = data[i:i+1]
    data1.at[i:i+1, ['Votes %']] = float((row['Votes %'].values[0])[:-1])
    
data1

,Election Year,Position,Name,Votes,Votes %,Party,AC name,AC No
0,2010,1,Rajesh Singh,42289,29.4,Janata Dal (United),Valmiki Nagar,1
1,2010,2,Mukesh Kumar Kushwaha,27618,19.2,Rashtriya Janata Dal,Valmiki Nagar,1
2,2010,3,Dheerendra Pratap Singh,20886,14.5,Bahujan Samaj Party,Valmiki Nagar,1
3,2010,4,Irshad Hussain,17747,12.4,Indian National Congress,Valmiki Nagar,1
4,2010,5,Deep Narayan Mahato,14047,9.8,Independent,Valmiki Nagar,1
...,...,...,...,...,...,...,...,...
12296,2005-Feb,15,Chandeshwar Prasad Gupt,534,0.6,Independent,Chakai,243
12297,2005-Feb,16,Tirpit Singh,498,0.6,Independent,Chakai,243
12298,2005-Feb,17,Surendra Rajbansi,437,0.5,Independent,Chakai,243
12299,2005-Feb,18,Nawin Kumar Paswan,415,0.5,Independent,Chakai,243
12300,2005-Feb,19,Ajay Kumar,407,0.5,Independent,Chakai,243

In [11]:
data1.groupby('Election Year').sum()

               Position     Votes   AC No
Election Year
2005-Feb          25200  24494763  392728
2005-Oct          11375  23559191  265132
2010              29629  29058604  433424
2015              28393  37171936  421250

In [28]:
data1 = data1[data1['Votes %'] > 10] 
data1_1 = data1[data1['Election Year'] == '2005-Feb'].groupby('AC name').count()['Party']
data1_1.head()

AC name
Agiaon (SC)    4
Alamnagar      3
Alauli (SC)    4
Alinagar       3
Amarpur        4
Name: Party, dtype: int64

In [30]:
data1_2 = data1[data1['Election Year'] == '2005-Oct'].groupby('AC name').count()['Party']
data1_2.head()

AC name
Agiaon       3
Alamnagar    4
Alauli       3
Alinagar     3
Amarpur      4
Name: Party, dtype: int64

In [27]:
data1 = data1[data1['Votes %'] > 10] 
data1_1 = data1[data1['Election Year'] == '2005-Feb'].groupby('AC name').count()['Party']
data1_2 = data1[data1['Election Year'] == '2005-Oct'].groupby('AC name').count()['Party']
data1_3 = data1[data1['Election Year'] == '2010'].groupby('AC name').count()['Party']
data1_4 = data1[data1['Election Year'] == '2015'].groupby('AC name').count()['Party']

data1_1
res = []
for i in range(min(data1_1.count(), data1_2.count(), data1_3.count(), data1_4.count())):
    flag = 1
    if data1_1[data1_1.index[i]] < 3:
        flag += 1
    if data1_2[data1_2.index[i]] < 3:
        flag += 1
    if data1_3[data1_3.index[i]] < 3:
        flag += 1
    if data1_4[data1_4.index[i]] < 3:
        flag += 1
    
    if flag == 1:
        res.append(data1_1.index[i])
        
print(res)

['Agiaon (SC)', 'Amnour', 'Arwal', 'Baisi', 'Bakhri (SC)', 'Balrampur', 'Banka', 'Bhabua', 'Bibhutipur', 'Chainpur', 'Darauli (SC)', 'Dehri', 'Harlakhi', 'Jagdishpur', 'Kadwa', 'Kalyanpur (SC)', 'Kanti', 'Karakat', 'Kasba', 'Laukaha', 'Narkatia', 'Nokha', 'Phulwari (SC)', 'Raghopur', 'Rajpur (SC)', 'Samastipur', 'Shahpur', 'Sheikhpura', 'Sheohar', 'Tarapur', 'Vaishali', 'Wazirganj']