In [6]:
import pandas as pd

In [7]:
filename = 'NationWithNAMO.csv'
data = pd.read_csv(filename)

In [8]:
data1 = data[data['Position']==1]
data1 = data1.drop(['Name','Votes','Votes %','AC No'],axis=1)
data2 = data1.groupby('AC name').nunique()
data2 = data2.drop(['AC name'],axis=1)
data2 = data2.reset_index()
data2.head()

       AC name  Election Year  Position  Party
0       Agiaon              3         1      3
1  Agiaon (SC)              1         1      1
2    Alamnagar              4         1      2
3       Alauli              3         1      2
4  Alauli (SC)              1         1      1

In [9]:
stronghold_seats = []
for i in range(len(data2['AC name'])):
    if(data2['Party'][i]==1):
        stronghold_seats.append(data2['AC name'][i])

In [10]:
stronghold_seats

['Agiaon (SC)',
 'Alauli (SC)',
 'Bakhri (SC)',
 'Banmankhi (SC)',
 'Barachatti (SC)',
 'Bathnaha (SC)',
 'Belhar',
 'Bettiah',
 'Bhorey (SC)',
 'Bibhutpur',
 'Bochaha (SC)',
 'Bodh Gaya (SC)',
 'Chanpatia',
 'Chenari (SC)',
 'Darauli (SC)',
 'Dhauraiya (SC)',
 'Dhuraiya',
 'Fatwah',
 'Garkha (SC)',
 'Gopalpur',
 'Gora Bauram',
 'Goriakothi',
 'Harsidhi (SC)',
 'Imamganj (SC)',
 'Kalyanpur (SC)',
 'Katoria (ST)',
 'Khagaria',
 'Korha (SC)',
 'Kumhrar',
 'Kumhrarh',
 'Kurtha',
 'Kusheshwar Asthan (SC)',
 'Kutumba (SC)',
 'Maharajganj',
 'Mahnar',
 'Makhadumapur (SC)',
 'Manihari (ST)',
 'Masaurhi (SC)',
 'Mohania (SC)',
 'Nalanda',
 'Nirmali',
 'Parihar',
 'Patepur (SC)',
 'Phulwari (SC)',
 'Pirpainti (SC)',
 'Raja Pakar (SC)',
 'Rajauli (SC)',
 'Rajgir (SC)',
 'Rajnagar (SC)',
 'Rajpur',
 'Rajpur (SC)',
 'Ramnagar (SC)',
 'Raniganj (SC)',
 'Raxaul',
 'Rosera (SC)',
 'Runnisaidpur',
 'Sakra (SC)',
 'Sikandra (SC)',
 'Singheshwar',
 'Singheshwar (SC)',
 'Siwan',
 'Sonbarsha (SC)',
 'Triveniganj (SC)',
 'Warisnagar']