In [17]:
import pandas as pd

In [18]:
filename = 'NationWithNAMO.csv'
data = pd.read_csv(filename)

In [19]:
data1 = data[data['Position']==1]

In [20]:
data1 = data1.drop(['Name','Votes','Votes %','AC No'],axis=1)

In [24]:
data1.head(10)

    Election Year  Position                  Party        AC name
0            2010         1    Janata Dal (United)  Valmiki Nagar
14           2010         1  Bharatiya Janta Party       Ramnagar
31           2010         1  Bharatiya Janta Party   Narkatiaganj
46           2010         1    Janata Dal (United)         Bagaha
61           2010         1            Independent        Lauriya
73           2010         1    Janata Dal (United)         Nautan
89           2010         1  Bharatiya Janta Party      Chanpatia
107          2010         1  Bharatiya Janta Party        Bettiah
125          2010         1            Independent          Sikta
143          2010         1  Bharatiya Janta Party         Raxaul

In [25]:
data1.shape

(972, 4)

In [26]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972 entries, 0 to 12282
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Election Year  972 non-null    object
 1   Position       972 non-null    int64
 2   Party          972 non-null    object
 3   AC name        972 non-null    object
dtypes: int64(1), object(3)
memory usage: 38.0+ KB

In [27]:
data2 = data1.groupby('AC name').nunique()
data2.head()

             Election Year  Position  Party  AC name
AC name
Agiaon                   3         1      3        1
Agiaon (SC)              1         1      1        1
Alamnagar                4         1      2        1
Alauli                   3         1      2        1
Alauli (SC)              1         1      1        1

In [13]:
data2 = data1.groupby('AC name').nunique()
data2 = data2.drop(['AC name'],axis=1)
data2 = data2.reset_index()
data2.head(5)

       AC name  Election Year  Position  Party
0       Agiaon              3         1      3
1  Agiaon (SC)              1         1      1
2    Alamnagar              4         1      2
3       Alauli              3         1      2
4  Alauli (SC)              1         1      1

In [25]:
swing_seats = []
for i in range(len(data2['AC name'])):
    if(data2['Election Year'][i] == data2['Party'][i]):
        swing_seats.append(data2['AC name'][i])

In [26]:
swing_seats

['Agiaon',
 'Agiaon (SC)',
 'Alauli (SC)',
 'Amour',
 'Bachhwara',
 'Bakhri (SC)',
 'Balrampur',
 'Banmankhi (SC)',
 'Barachatti (SC)',
 'Barhampur',
 'Bathnaha (SC)',
 'Belsand',
 'Bhorey (SC)',
 'Bibhutipur',
 'Bochaha (SC)',
 'Bodh Gaya (SC)',
 'Brahampur',
 'Chakai',
 'Chenari',
 'Chenari (SC)',
 'Darauli',
 'Darauli (SC)',
 'Dhauraiya (SC)',
 'Fatuha',
 'Garkha',
 'Garkha (SC)',
 'Gaura Bauram',
 'Goriyakothi',
 'Harsidhi',
 'Harsidhi (SC)',
 'Imamganj',
 'Imamganj (SC)',
 'Jhajha',
 'Kadwa',
 'Kalyanpur (SC)',
 'Katoria',
 'Katoria (ST)',
 'Korha (SC)',
 'Kusheshwar Asthan (SC)',
 'Kutumba',
 'Kutumba (SC)',
 'Lauriya',
 'Madhubani',
 'Makhadumapur (SC)',
 'Makhdumpur',
 'Manhar',
 'Manihari',
 'Manihari (ST)',
 'Masaurhi',
 'Masaurhi (SC)',
 'Mohania (SC)',
 'Patepur (SC)',
 'Phulwari (SC)',
 'Pipra',
 'Pirpainti (SC)',
 'Raja Pakar',
 'Raja Pakar (SC)',
 'Rajauli (SC)',
 'Rajgir',
 'Rajgir (SC)',
 'Rajnagar',
 'Rajnagar (SC)',
 'Rajpur (SC)',
 'Ramgarh',
 'Ramnagar (SC)',
 'Raniganj',
 'Raniganj (SC)',
 'Rosera (SC)',
 'Runisaidpur',
 'Runnisaidpur',
 'Sakra (SC)',
 'Sikandra',
 'Sikandra (SC)',
 'Singheshwar (SC)',
 'Sonbarsha (SC)',
 'Tarari',
 'Thakurganj',
 'Triveniganj (SC)']