In [57]:
import pandas as pd
import os

In [58]:
# os.getcwd()

In [59]:
filename = 'NationWithNAMO.csv'
data = pd.read_csv(filename)

In [60]:
data.shape

(12301, 8)

In [61]:
data[:10]

,Election Year,Position,Name,Votes,Votes %,Party,AC name,AC No
0,2010,1,Rajesh Singh,42289,29.40%,Janata Dal (United),Valmiki Nagar,1
1,2010,2,Mukesh Kumar Kushwaha,27618,19.20%,Rashtriya Janata Dal,Valmiki Nagar,1
2,2010,3,Dheerendra Pratap Singh,20886,14.50%,Bahujan Samaj Party,Valmiki Nagar,1
3,2010,4,Irshad Hussain,17747,12.40%,Indian National Congress,Valmiki Nagar,1
4,2010,5,Deep Narayan Mahato,14047,9.80%,Independent,Valmiki Nagar,1
5,2010,6,Manoj Kumar Singh,8358,5.80%,Janvadi Party (Socialist),Valmiki Nagar,1
6,2010,7,Saket Kumar Pathak,4428,3.10%,Independent,Valmiki Nagar,1
7,2010,8,Ramayan Chaudhary,1647,1.20%,Independent,Valmiki Nagar,1
8,2010,9,Ram Naresh Sah,1610,1.10%,Independent,Valmiki Nagar,1
9,2010,10,Shashi Bhusan Sahay,1334,0.90%,Nationalist Congress Party,Valmiki Nagar,1

In [62]:
data.describe()

           Position          Votes         AC No
count  12301.000000   12301.000000  12301.000000
mean       7.690188    9290.666938    122.960247
std        5.114163   16210.790784     70.755933
min        1.000000      98.000000      1.000000
25%        4.000000     969.000000     61.000000
50%        7.000000    1975.000000    125.000000
75%       11.000000    7022.000000    186.000000
max       34.000000  117915.000000    243.000000

In [63]:
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12301 entries, 0 to 12300
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Election Year  12301 non-null  object
 1   Position       12301 non-null  int64
 2   Name           12301 non-null  object
 3   Votes          12301 non-null  int64
 4   Votes %        12301 non-null  object
 5   Party          12301 non-null  object
 6   AC name        12301 non-null  object
 7   AC No          12301 non-null  int64
dtypes: int64(3), object(5)
memory usage: 768.9+ KB

,Election Year,Position,Name,Votes,Votes %,Party,AC name,AC No
0,2010,1,Rajesh Singh,42289,29.40%,Janata Dal (United),Valmiki Nagar,1
1,2010,2,Mukesh Kumar Kushwaha,27618,19.20%,Rashtriya Janata Dal,Valmiki Nagar,1
2,2010,3,Dheerendra Pratap Singh,20886,14.50%,Bahujan Samaj Party,Valmiki Nagar,1
3,2010,4,Irshad Hussain,17747,12.40%,Indian National Congress,Valmiki Nagar,1
4,2010,5,Deep Narayan Mahato,14047,9.80%,Independent,Valmiki Nagar,1
...,...,...,...,...,...,...,...,...
12296,2005-Feb,15,Chandeshwar Prasad Gupt,534,0.60%,Independent,Chakai,243
12297,2005-Feb,16,Tirpit Singh,498,0.60%,Independent,Chakai,243
12298,2005-Feb,17,Surendra Rajbansi,437,0.50%,Independent,Chakai,243
12299,2005-Feb,18,Nawin Kumar Paswan,415,0.50%,Independent,Chakai,243
12300,2005-Feb,19,Ajay Kumar,407,0.50%,Independent,Chakai,243

In [64]:
data1_1 = data[data['Election Year'] == '2005-Feb']
data1_2 = data[data['Election Year'] == '2005-Oct']
data1_3 = data[data['Election Year'] == '2010']
data1_4 = data[data['Election Year'] == '2015']

data1__1 = data1_1[data1_1['Position'] == 1]
data1__2 = data1_2[data1_2['Position'] == 1]
data1__3 = data1_3[data1_3['Position'] == 1]
data1__4 = data1_4[data1_4['Position'] == 1]

data1_1

,Election Year,Position,Name,Votes,Votes %,Party,AC name,AC No
9108,2005-Feb,1,Rajesh Singh,19389,30.60%,Rashtriya Janata Dal,Valmiki Nagar,1
9109,2005-Feb,2,Ramadhar Yadav,13287,21.00%,Samajwadi Party,Valmiki Nagar,1
9110,2005-Feb,3,Mukesh Kumar Kushwaha,10865,17.20%,Independent,Valmiki Nagar,1
9111,2005-Feb,4,Arun Kumar Tiwari,5073,8.00%,Lok Jan Shakti Party,Valmiki Nagar,1
9112,2005-Feb,5,Bawwan Prasad Yadav,3320,5.30%,Samata Party,Valmiki Nagar,1
...,...,...,...,...,...,...,...,...
12296,2005-Feb,15,Chandeshwar Prasad Gupt,534,0.60%,Independent,Chakai,243
12297,2005-Feb,16,Tirpit Singh,498,0.60%,Independent,Chakai,243
12298,2005-Feb,17,Surendra Rajbansi,437,0.50%,Independent,Chakai,243
12299,2005-Feb,18,Nawin Kumar Paswan,415,0.50%,Independent,Chakai,243
12300,2005-Feb,19,Ajay Kumar,407,0.50%,Independent,Chakai,243

In [65]:
data1_1 = data1_1.groupby('Party').sum()

In [66]:
data1_1.head()

                                   Position  Votes  AC No
Party
Adarsh Political Party                   11    736    187
Akhand Jharkhand People's Front          76   9800   1114
Akhil Bharat Hindu Mahasabha             55   4603    565
Akhil Bharatiya Ashok Sena               12    858     22
Akhil Bharatiya Desh Bhakt Morcha        16    326    193

In [67]:
data1_1=data1_1[data1_1['Votes']==data1_1['Votes'].max()]
data1_1=data1_1.reset_index()

In [68]:
data1_1.head()

                  Party  Position    Votes  AC No
0  Rashtriya Janata Dal       431  6140223  25719

In [69]:
parties1 = list(data1__1['Party'].values)
winner1 = data1_1['Party'][0]
print(winner1)

Rashtriya Janata Dal

In [70]:
seats1 = list(data1__1[data1__1['Party'] == winner1]['AC name'])
seats1

['Valmiki Nagar',
 'Sugauli',
 'Kesaria',
 'Kalyanpur',
 'Sheohar',
 'Sursand',
 'Bajpatti',
 'Runnisaidpur',
 'Benipatti',
 'Supaul',
 'Triveniganj (SC)',
 'Narpatganj',
 'Jokihat',
 'Thakurganj',
 'Kochadhaman',
 'Rupauli',
 'Dhamdaha',
 'Katihar',
 'Kadwa',
 'Pranpur',
 'Alamnagar',
 'Bihariganj',
 'Mahishi',
 'Gaura Bauram',
 'Darbhanga Rural',
 'Bahadurpur',
 'Keoti',
 'Jale',
 'Gaighat',
 'Bochaha (SC)',
 'Sakra (SC)',
 'Kurhani',
 'Baruraj',
 'Barauli',
 'Kuchaikote',
 'Bhorey (SC)',
 'Manjhi',
 'Baniapur',
 'Raghopur',
 'Morwa',
 'Mohiuddinnagar',
 'Bachhwara',
 'Sahebpur Kamal',
 'Bakhri (SC)',
 'Parbatta',
 'Bihpur',
 'Pirpainti (SC)',
 'Bhagalpur',
 'Sultanganj',
 'Banka',
 'Katoria (ST)',
 'Sheikhpura',
 'Barbigha',
 'Fatuha',
 'Sandesh',
 'Barhara',
 'Brahampur',
 'Buxar',
 'Sasaram',
 'Dinara',
 'Nokha',
 'Dehri',
 'Karakat',
 'Ghosi',
 'Makhadumapur (SC)',
 'Nabinagar',
 'Kutumba (SC)',
 'Imamganj (SC)',
 'Bodh Gaya (SC)',
 'Wazirganj',
 'Rajauli (SC)',
 'Hisua',
 'Nawada',
 'Gobindpur',
 'Sikandra (SC)']

In [71]:
data1_2 = data1_2.groupby('Party').sum()
data1_2=data1_2[data1_2['Votes']==data1_2['Votes'].max()]
data1_2=data1_2.reset_index()

In [72]:
parties2 = list(data1__2['Party'].values)
winner2 = data1_2['Party'][0]
seats2 = list(data1__2[data1__2['Party'] == winner2]['AC name'])

data1_3 = data1_3.groupby('Party').sum()
data1_3=data1_3[data1_3['Votes']==data1_3['Votes'].max()]
data1_3=data1_3.reset_index()

parties3 = list(data1__3['Party'].values)
winner3 = data1_3['Party'][0]
seats3 = list(data1__3[data1__3['Party'] == winner3]['AC name'])

data1_4 = data1_4.groupby('Party').sum()
data1_4=data1_4[data1_4['Votes']==data1_4['Votes'].max()]
data1_4=data1_4.reset_index()


parties4 = list(data1__4['Party'].values)
winner4 = data1_4['Party'][0]
seats4 = list(data1__4[data1__4['Party'] == winner4]['AC name'])

In [73]:
# Common seats in all 4 elections
from functools import reduce
res = list(reduce(lambda i, j: i & j, (set(x) for x in [seats1, seats2, seats3, seats4]))) 
print(res)

['Bihariganj']